h1 {
    background-color: orange;
    color: blue;
    height: 100px;
    margin: 20px;
    padding: 20px;

}
h2{
    background-color: purple;
    color:white;
    margin:20px;
    height: 30px;
    padding: 20px;
}


.box {
    width: 200px;
    height: 200px;
    background: skyblue;
    margin: 0 auto;
    border: 2px solid black;
    border-radius: 5px;
}